html,
body {
  margin: 0;
  padding: 0;
}
#es-rc #es-rc-content {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background-color: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5 {
  font-family: "Jost", sans-serif;
  color: #111;
}
#es-rc #es-rc-content sup {
  font-size: 14px;
  vertical-align: super;
}
#es-rc #es-rc-content .es-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-top: 30px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-bottom: 32px;
  margin-left: 20px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-title span {
  margin-top: -4%;
  font-weight: 700;
}
#es-rc #es-rc-content .es-header {
  margin-bottom: 60px;
}
#es-rc #es-rc-content .es-header__title {
  font-family: "Jost", sans-serif;
  font-weight: 450;
  font-size: 18px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
#es-rc #es-rc-content .es-header__number-label {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
#es-rc #es-rc-content .es-header__description {
  margin-top: 0;
  font-family: "Jost", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-header__description sup {
  vertical-align: top;
}
#es-rc #es-rc-content .es-header__description-disclaimer {
  display: block;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 6px;
  text-align: center;
  text-transform: none;
  color: #000;
}
#es-rc #es-rc-content .es-header__img-logo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
#es-rc #es-rc-content .es-header__img-photo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-header__img-photo--desktop {
  display: none;
}
#es-rc #es-rc-content .es-kv__content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  background: #bf001a;
  color: #fff;
}
#es-rc #es-rc-content .es-kv__title {
  margin-top: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  line-height: 1.3;
}
#es-rc #es-rc-content .es-kv__title span {
  font-weight: 500;
}
#es-rc #es-rc-content .es-kv__subtitle {
  margin-top: 40px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
}
#es-rc #es-rc-content .es-kv__packshot-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-kv__photo-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-collagen {
  margin-bottom: 60px;
}
#es-rc #es-rc-content .es-collagen__title {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  gap: 5px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-collagen__title--big {
  margin-top: -5px;
  font-size: 50px;
}
#es-rc #es-rc-content .es-collagen__photo {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(/rich-content/Vichy/krem-16/assets/img/16-collagen-bg.png) center center no-repeat;
  background-size: cover;
}
#es-rc #es-rc-content .es-collagen__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 60%;
}
#es-rc #es-rc-content .es-collagen__item {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 10px;
  text-align: right;
  color: #fff;
}
#es-rc #es-rc-content .es-collagen__item--1 {
  top: 4%;
  left: 42%;
}
#es-rc #es-rc-content .es-collagen__item--2 {
  top: 10%;
  left: 63%;
}
#es-rc #es-rc-content .es-collagen__item--3 {
  top: 20%;
  left: 74%;
}
#es-rc #es-rc-content .es-collagen__item--4 {
  top: 29%;
  left: 80%;
}
#es-rc #es-rc-content .es-collagen__item--5 {
  top: 41%;
  left: 83%;
  right: 2%;
  text-align: start;
}
#es-rc #es-rc-content .es-collagen__item--6 {
  top: 57%;
  left: 83%;
}
#es-rc #es-rc-content .es-collagen__item--7 {
  top: 71%;
  left: 75%;
}
#es-rc #es-rc-content .es-collagen__item--8 {
  top: 83%;
  left: 62%;
}
#es-rc #es-rc-content .es-collagen__item--9 {
  top: 87%;
  left: 42%;
}
#es-rc #es-rc-content .es-collagen__item--10 {
  top: 80%;
  left: 27%;
}
#es-rc #es-rc-content .es-collagen__item--11 {
  top: 70%;
  left: 8%;
}
#es-rc #es-rc-content .es-collagen__item--12 {
  top: 58%;
  left: 2%;
}
#es-rc #es-rc-content .es-collagen__item--13 {
  top: 45%;
  left: 5%;
}
#es-rc #es-rc-content .es-collagen__item--14 {
  top: 30%;
  left: 5%;
}
#es-rc #es-rc-content .es-collagen__item--15 {
  top: 18%;
  left: 7%;
}
#es-rc #es-rc-content .es-collagen__item--16 {
  top: 10%;
  left: 22%;
}
#es-rc #es-rc-content .es-collagen__ba-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  gap: 30px;
  -webkit-box-pack: center;
  justify-content: center;
  align-self: center;
}
#es-rc #es-rc-content .es-collagen__before,
#es-rc #es-rc-content .es-collagen__after {
  display: -webkit-box;
  display: flex;
  justify-self: center;
  gap: 5px;
}
#es-rc #es-rc-content .es-collagen__before-img,
#es-rc #es-rc-content .es-collagen__after-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: 35px;
  margin-top: 5px;
}
#es-rc #es-rc-content .es-collagen__disclaimer {
  margin-left: 10px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
#es-rc #es-rc-content .es-bonding {
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-bonding__description {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
}
#es-rc #es-rc-content .es-bonding__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-formula {
  min-height: 280px;
  background-color: #bf001a;
}
#es-rc #es-rc-content .es-formula__title {
  margin-left: 0;
  padding: 40px 20px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
#es-rc #es-rc-content .es-formula__title--bold {
  font-weight: 500;
}
#es-rc #es-rc-content .slick-button-prev {
  position: absolute;
  top: 20%;
  left: 15px;
  rotate: 180deg;
  cursor: pointer;
}
#es-rc #es-rc-content .slick-button-next {
  position: absolute;
  top: 20%;
  right: 15px;
  cursor: pointer;
}
#es-rc #es-rc-content .slick-button-2-prev {
  position: absolute;
  bottom: 0;
  left: 15px;
  rotate: 180deg;
  cursor: pointer;
}
#es-rc #es-rc-content .slick-button-2-next {
  position: absolute;
  bottom: 0;
  right: 15px;
  cursor: pointer;
}
#es-rc #es-rc-content .slick-pagination-2 {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
#es-rc #es-rc-content .slick-dots {
  display: -webkit-box;
  display: flex;
  gap: 0 4px;
  padding: 0;
  margin: 0;
}
#es-rc #es-rc-content .slick-dots li {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #ef9e97;
  opacity: 1;
}
#es-rc #es-rc-content .slick-dots li:not(:last-child) {
  margin-right: 6px;
}
#es-rc #es-rc-content .slick-dots li.slick-active {
  background: #bf001a;
}
#es-rc #es-rc-content .slick-dots li button {
  display: none;
}
#es-rc #es-rc-content .slick-slide {
  opacity: 0.7;
}
#es-rc #es-rc-content .slick-current {
  opacity: 1;
}
#es-rc #es-rc-content .slick-list {
  overflow: visible;
}
#es-rc #es-rc-content .slick-arrow.slick-disabled {
  display: none !important;
}
#es-rc #es-rc-content .es-faq {
  padding-bottom: 30px;
}
#es-rc #es-rc-content .es-faq__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Jost", sans-serif;
  margin: 0 auto;
  margin-left: 15px;
  margin-bottom: 40px;
  font-size: 35px;
  color: inherit;
}
#es-rc #es-rc-content .es-faq .es-accordion {
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
#es-rc #es-rc-content .es-faq .es-accordion__element {
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
}
#es-rc #es-rc-content .es-faq .es-accordion__element-content {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #f4f4f4;
  color: #000;
  overflow: hidden;
  margin-top: -10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  border-radius: 10px;
}
#es-rc #es-rc-content .es-faq .es-accordion__element-content-disclaimer {
  font-size: 13px;
}
#es-rc #es-rc-content .es-faq .es-accordion__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  position: relative;
  padding: 17px 50px 17px 15px;
  font-size: 24px;
  color: #fff;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
  background: #bf001a;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}
#es-rc #es-rc-content .es-faq .es-accordion .es-acc-tab:before {
  font-family: "FontAwesome";
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 19px;
  top: 35%;
  right: 2%;
  background: url(/rich-content/Vichy/krem-16/assets/img/plus.png) 50% 50% no-repeat;
  color: #fff;
  text-align: center;
  line-height: 50px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
#es-rc #es-rc-content .es-faq .es-accordion .es-acc-tab.es-acc-active:before {
  background: url(/rich-content/Vichy/krem-16/assets/img/plus.png) 50% 50% no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#es-rc #es-rc-content .es-faq .es-accordion > div:last-of-type {
  margin-bottom: 0;
}
#es-rc #es-rc-content .es-video {
  padding-left: 15px;
  padding-right: 15px;
}
#es-rc #es-rc-content .es-video__wrapper {
  position: relative;
  margin-bottom: 50px;
}
#es-rc #es-rc-content .es-video__player {
  display: block;
  margin: 0 auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#es-rc #es-rc-content .es-video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#es-rc #es-rc-content .es-video__image-icon {
  width: 53px;
  height: 53px;
}
#es-rc #es-rc-content .es-video__image-icon--desktop {
  width: 116px;
  height: 116px;
}
#es-rc #es-rc-content .es-video__additional-description {
  min-width: 320px;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-video__additional-description strong {
  text-transform: none;
}
#es-rc #es-rc-content .es-video__play-button--desktop {
  display: none;
}
#es-rc #es-rc-content .es-compare {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  padding-bottom: 80px;
  margin-bottom: 50px;
}
#es-rc #es-rc-content .es-compare__title {
  margin-left: 10px;
  font-size: 35px;
  font-weight: 400;
}
#es-rc #es-rc-content .es-compare__mobile-wrapper {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  margin-bottom: 40px;
}
#es-rc #es-rc-content .es-compare__single {
  max-width: 270px;
}
#es-rc #es-rc-content .es-compare__single-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: auto;
  min-height: 160px;
  margin-bottom: 20px;
}
#es-rc #es-rc-content .es-compare__single-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 20px;
  min-height: 110px;
  padding: 24px 14px;
  font-family: "Jost", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  background: #bf001a;
  color: #fff;
  border-radius: 10px;
}
#es-rc #es-rc-content .es-compare__single-title--left {
  border-radius: 10px 0 0 10px;
}
#es-rc #es-rc-content .es-compare__single-title--right {
  border-radius: 0 10px 10px 0;
}
#es-rc #es-rc-content .es-compare__single-subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Jost", sans-serif;
  font-size: 10px;
  text-align: center;
  min-height: 48px;
}
#es-rc #es-rc-content .es-compare__type,
#es-rc #es-rc-content .es-compare__problem,
#es-rc #es-rc-content .es-compare__action,
#es-rc #es-rc-content .es-compare__effect,
#es-rc #es-rc-content .es-compare__consistency {
  margin-bottom: 10px;
}
#es-rc #es-rc-content .es-compare__type-title,
#es-rc #es-rc-content .es-compare__problem-title,
#es-rc #es-rc-content .es-compare__action-title,
#es-rc #es-rc-content .es-compare__effect-title,
#es-rc #es-rc-content .es-compare__consistency-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Jost", sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #fff;
  background: #bf001a;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
#es-rc #es-rc-content .es-compare__type-subtitle,
#es-rc #es-rc-content .es-compare__problem-subtitle,
#es-rc #es-rc-content .es-compare__action-subtitle,
#es-rc #es-rc-content .es-compare__effect-subtitle,
#es-rc #es-rc-content .es-compare__consistency-subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-top: -4px;
  font-size: 11.5px;
  min-width: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Jost", sans-serif;
  width: 50%;
  text-align: center;
  background: #f4f4f4;
  z-index: 0;
}
#es-rc #es-rc-content .es-compare__disclaimer {
  display: block;
  font-size: 8px;
  max-width: 150px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-compare__disclaimer sup {
  vertical-align: baseline;
}
#es-rc #es-rc-content .es-compare__effect-subtitle {
  min-height: 120px;
}
#es-rc #es-rc-content .es-compare__consistency-subtitle {
  min-height: 80px;
}
#es-rc #es-rc-content .es-compare__problem-subtitle {
  min-height: 90px;
}
#es-rc #es-rc-content .es-compare__action-subtitle {
  min-height: 98px;
}
#es-rc #es-rc-content .es-compare__consistency-subtitle {
  min-height: 98px;
}
#es-rc #es-rc-content .es-compare__inner {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
}
#es-rc #es-rc-content .swiper,
#es-rc #es-rc-content .swiper-wrapper,
#es-rc #es-rc-content .swiper-slide {
  width: 100%;
  height: auto;
}
#es-rc #es-rc-content .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #c69da3;
  opacity: 50%;
}
#es-rc #es-rc-content .swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px;
}
#es-rc #es-rc-content .swiper-pagination-bullet-active {
  opacity: 1;
  background: #c69da3;
}
#es-rc #es-rc-content .swiper-button-next:after,
#es-rc #es-rc-content .swiper-button-prev:after {
  display: none;
}
#es-rc #es-rc-content .swiper-button-prev img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#es-rc #es-rc-content .swiper-pagination {
  position: absolute;
  bottom: 25px;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
#es-rc #es-rc-content .swiper-button-next,
#es-rc #es-rc-content .swiper-button-prev {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 30px;
}
#es-rc #es-rc-content .swiper-button-next {
  right: 2%;
}
#es-rc #es-rc-content .swiper-button-prev {
  left: 2%;
}
#es-rc #es-rc-content .swiper-pagination-bullet {
  background: #044b72;
}
#es-rc #es-rc-content .swiper-pagination-bullet-active {
  background: #bf001a !important;
}
#es-rc #es-rc-content .es-routine {
  padding-left: 20px;
  padding-right: 20px;
}
#es-rc #es-rc-content .es-routine__title {
  margin-left: 0;
  margin-bottom: 0;
  max-width: 340px;
}
#es-rc #es-rc-content .es-routine__disclaimer {
  margin-bottom: 30px;
  padding-right: 20px;
  font-size: 10px;
}
#es-rc #es-rc-content .es-routine__steps {
  margin-bottom: 50px;
}
#es-rc #es-rc-content .es-routine__steps-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-routine__step-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  gap: 20px;
}
#es-rc #es-rc-content .es-routine__step-item--first {
  justify-content: space-between;
  gap: 20px;
}
#es-rc
  #es-rc-content
  .es-routine__step-item--first
  .es-routine__step-item-title-group {
  margin-left: 0;
}
#es-rc #es-rc-content .es-routine__step-item-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 15px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  background: #000;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
}
#es-rc #es-rc-content .es-routine__step-item-title--big {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 70px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-routine__step-item-title-group {
  display: -webkit-box;
  display: flex;
  justify-items: center;
  -webkit-box-align: end;
  align-items: flex-end;
  gap: 10px;
}
#es-rc #es-rc-content .es-routine__step-item-subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-top: -15px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
}
#es-rc #es-rc-content .es-routine__button {
  align-self: flex-end;
  min-width: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background: #bf001a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
#es-rc #es-rc-content .es-routine__button-d--1 {
  display: none;
}
#es-rc #es-rc-content .es-routine__button-d--2 {
  display: none;
}
#es-rc #es-rc-content .es-footer {
  font-size: 13px;
  margin-left: 35px;
  margin-bottom: 64px;
}
@media screen and (min-width: 400px) {
  #es-rc #es-rc-content .es-routine__step {
    max-width: 365px;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-routine__step-item {
    gap: 60px;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  #es-rc #es-rc-content .es-routine__step-item--first {
    gap: 60px;
    justify-content: space-between;
    margin-right: 0px;
  }
  #es-rc #es-rc-content .es-routine__step-item-subtitle {
    font-size: 21px;
  }
}
@media screen and (min-width: 576px) {
  #es-rc #es-rc-content .es-collagen__item {
    font-size: 14px;
  }
  #es-rc #es-rc-content .es-collagen__item--1 {
    top: 1%;
    left: 43%;
  }
  #es-rc #es-rc-content .es-collagen__item--2 {
    top: 5%;
    left: 62%;
  }
  #es-rc #es-rc-content .es-collagen__item--3 {
    top: 15%;
    left: 73%;
  }
  #es-rc #es-rc-content .es-collagen__item--4 {
    top: 28%;
    left: 82%;
  }
  #es-rc #es-rc-content .es-collagen__item--5 {
    top: 43%;
    left: 84%;
    right: 11%;
    text-align: start;
  }
  #es-rc #es-rc-content .es-collagen__item--6 {
    top: 61%;
    left: 82%;
  }
  #es-rc #es-rc-content .es-collagen__item--7 {
    top: 75%;
    left: 73%;
  }
  #es-rc #es-rc-content .es-collagen__item--8 {
    top: 85%;
    left: 60%;
  }
  #es-rc #es-rc-content .es-collagen__item--9 {
    top: 89%;
    left: 44%;
  }
  #es-rc #es-rc-content .es-collagen__item--10 {
    top: 86%;
    left: 29%;
  }
  #es-rc #es-rc-content .es-collagen__item--11 {
    top: 75%;
    left: 12%;
  }
  #es-rc #es-rc-content .es-collagen__item--12 {
    top: 62%;
    left: 6%;
  }
  #es-rc #es-rc-content .es-collagen__item--13 {
    top: 46%;
    left: 8%;
  }
  #es-rc #es-rc-content .es-collagen__item--15 {
    top: 15%;
    left: 11%;
  }
  #es-rc #es-rc-content .es-collagen__item--16 {
    top: 5%;
    left: 25%;
  }
  #es-rc #es-rc-content .es-video__player--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-video__player--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-video__play-button--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-video__play-button--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-bonding {
    margin-top: 50px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
  }
  #es-rc #es-rc-content .es-bonding__content {
    padding-left: 10px;
  }
  #es-rc #es-rc-content .es-bonding__photo {
    min-width: 50%;
  }
  #es-rc #es-rc-content .es-bonding__title {
    margin-left: 0;
    text-align: left;
  }
  #es-rc #es-rc-content .es-bonding__description {
    padding-left: 0;
  }
}
@media screen and (min-width: 600px) {
  #es-rc #es-rc-content .es-slick-carousel--mobile,
  #es-rc #es-rc-content .slick-button-prev,
  #es-rc #es-rc-content .slick-button-next,
  #es-rc #es-rc-content .es-slider__arrow {
    display: none;
  }
  #es-rc #es-rc-content .es-compare {
    padding-bottom: 0;
  }
  #es-rc #es-rc-content .es-compare__packshots--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-compare__mobile-wrapper {
    margin: 0 auto;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }
  #es-rc #es-rc-content .es-compare__single {
    min-width: 270px;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }
  #es-rc #es-rc-content .es-compare__single-title {
    min-height: 93px;
    padding: 10px 14px;
  }
  #es-rc #es-rc-content .es-compare__single-title--square {
    border-radius: 0px;
  }
  #es-rc #es-rc-content .slick-pagination-2,
  #es-rc #es-rc-content .slick-button-2-prev,
  #es-rc #es-rc-content .slick-button-2-next {
    display: none;
  }
}
@media screen and (min-width: 1241px) {
  #es-rc #es-rc-content .es-title {
    margin-bottom: 40px;
    font-size: 25px;
    text-align: left;
  }
  #es-rc #es-rc-content .es-header {
    margin-top: 50px;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    min-height: 238px;
    background: url(/rich-content/Vichy/krem-16/assets/img/header-image.png) center center no-repeat;
    background-size: cover;
    gap: 10px;
  }
  #es-rc #es-rc-content .es-header__right {
    max-width: 200px;
  }
  #es-rc #es-rc-content .es-header__title {
    min-width: 400px;
  }
  #es-rc #es-rc-content .es-header__description {
    font-size: 13px;
  }
  #es-rc #es-rc-content .es-header__img-logo {
    min-width: 170px;
  }
  #es-rc #es-rc-content .es-header__img-bg {
    display: none;
  }
  #es-rc #es-rc-content .es-kv {
    position: relative;
    min-height: 445px;
    background: url(/rich-content/Vichy/krem-16/assets/img/kv-photo.png) center right no-repeat;
    background-size: cover;
  }
  #es-rc #es-rc-content .es-kv__content {
    padding-left: 20px;
    padding-top: 76px;
    background-color: unset;
    max-width: 40%;
  }
  #es-rc #es-rc-content .es-kv__title {
    font-size: 39px;
  }
  #es-rc #es-rc-content .es-kv__subtitle {
    max-width: 330px;
    font-size: 17px;
  }
  #es-rc #es-rc-content .es-kv__packshot-img {
    position: absolute;
    bottom: 6%;
    left: 33%;
    margin-bottom: 0;
    max-width: 34%;
  }
  #es-rc #es-rc-content .es-kv__photo {
    display: none;
  }
  #es-rc #es-rc-content .es-collagen {
    position: relative;
  }
  #es-rc #es-rc-content .es-collagen__title {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-width: 630px;
    top: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    text-align: left;
  }
  #es-rc #es-rc-content .es-collagen__photo {
    min-height: 580px;
    padding-top: 180px;
    padding-bottom: 100px;
  }
  #es-rc #es-rc-content .es-collagen__ba-group {
    gap: 0;
    position: absolute;
    bottom: 4%;
    left: 5%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    color: #fff;
  }
  #es-rc #es-rc-content .es-collagen__after-img {
    margin: 0;
  }
  #es-rc #es-rc-content .es-collagen__disclaimer {
    position: absolute;
    bottom: 2%;
    left: 5%;
    margin: 0;
    color: #fff;
  }
  #es-rc #es-rc-content .es-collagen__item {
    font-size: 16px;
  }
  #es-rc #es-rc-content .es-collagen__item--1 {
    top: 12%;
    left: 43%;
  }
  #es-rc #es-rc-content .es-collagen__item--2 {
    top: 14%;
    left: 63%;
  }
  #es-rc #es-rc-content .es-collagen__item--3 {
    top: 24%;
    left: 73%;
  }
  #es-rc #es-rc-content .es-collagen__item--4 {
    top: 35%;
    left: 80%;
  }
  #es-rc #es-rc-content .es-collagen__item--5 {
    top: 48%;
    left: 80%;
    right: 2%;
    text-align: start;
  }
  #es-rc #es-rc-content .es-collagen__item--6 {
    top: 61%;
    left: 79%;
  }
  #es-rc #es-rc-content .es-collagen__item--7 {
    top: 74%;
    left: 73%;
  }
  #es-rc #es-rc-content .es-collagen__item--8 {
    top: 85%;
    left: 60%;
  }
  #es-rc #es-rc-content .es-collagen__item--9 {
    top: 89%;
    left: 44%;
  }
  #es-rc #es-rc-content .es-collagen__item--10 {
    top: 84%;
    left: 32%;
  }
  #es-rc #es-rc-content .es-collagen__item--11 {
    top: 74%;
    left: 18%;
  }
  #es-rc #es-rc-content .es-collagen__item--12 {
    top: 63%;
    left: 9%;
  }
  #es-rc #es-rc-content .es-collagen__item--13 {
    top: 51%;
    left: 12%;
  }
  #es-rc #es-rc-content .es-collagen__item--14 {
    top: 36%;
    left: 11%;
  }
  #es-rc #es-rc-content .es-collagen__item--15 {
    top: 23%;
    left: 16%;
  }
  #es-rc #es-rc-content .es-collagen__item--16 {
    top: 16%;
    left: 28%;
  }
  #es-rc #es-rc-content .es-bonding__title {
    text-align: left;
    font-weight: 400;
    font-size: 35px;
  }
  #es-rc #es-rc-content .es-bonding__description {
    margin-top: -10px;
    max-width: 80%;
    font-size: 20px;
    line-height: 1.5;
  }
  #es-rc #es-rc-content .es-formula {
    background: url(/rich-content/Vichy/krem-16/assets/img/formula-image.png) center center no-repeat;
    background-size: cover;
    min-height: 375px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
  }
  #es-rc #es-rc-content .es-formula__title {
    margin-left: 660px;
  }
  #es-rc #es-rc-content .es-compare__single {
    min-width: 270px;
    max-width: 165px;
  }
  #es-rc #es-rc-content .es-routine {
    min-height: 490px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(/rich-content/Vichy/krem-16/assets/img/routine-bg.png) calc(100% + 100px) center no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }
  #es-rc #es-rc-content .es-routine__steps {
    margin-bottom: 0;
  }
  #es-rc #es-rc-content .es-routine__steps-image--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-routine__title {
    margin-top: -250px;
    color: #fff;
  }
  #es-rc #es-rc-content .es-routine__step {
    position: absolute;
    top: 15px;
    right: 4%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    gap: 35px;
    transform: scale(1.1);
    margin-top: 30px;
    margin-left: 0;
  }
  #es-rc #es-rc-content .es-routine__step-item-title {
    font-size: 10px;
    padding: 3px 6px;
    background: #fff;
    color: #bf001a;
  }
  #es-rc #es-rc-content .es-routine__step-item-title--big {
    font-size: 40px;
    position: absolute;
    right: 0;
    top: -20px;
    color: #fff;
  }
  #es-rc #es-rc-content .es-routine__step-item-title--big-1 {
    right: -25px;
  }
  #es-rc #es-rc-content .es-routine__step-item-title--big-2 {
    right: 10px;
  }
  #es-rc #es-rc-content .es-routine__step-item-title--big-3 {
    right: 23px;
  }
  #es-rc #es-rc-content .es-routine__step-item--first {
    margin-right: 35px;
  }
  #es-rc #es-rc-content .es-routine__step-item-subtitle {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-top: -10px;
  }
  #es-rc #es-rc-content .es-routine__step-item-title-group {
    position: relative;
    margin-left: 10px;
  }
  #es-rc #es-rc-content .es-routine__disclaimer {
    position: absolute;
    bottom: 0;
    left: 2%;
    color: #fff;
  }
  #es-rc #es-rc-content .es-routine__button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    color: #bf001a;
    font-size: 12px;
    transition: transform 0.5s ease-in-out;
  }
  #es-rc #es-rc-content .es-routine__button--1 {
    position: absolute;
    bottom: 6%;
    right: 20%;
    display: none;
  }
  #es-rc #es-rc-content .es-routine__button--2 {
    position: absolute;
    bottom: 6%;
    right: 5%;
    display: none;
  }
  #es-rc #es-rc-content .es-routine__button-d--1 {
    display: block;
    position: absolute;
    bottom: 6%;
    right: 43%;
  }
  #es-rc #es-rc-content .es-routine__button-d--1:hover {
    scale: 1.05;
  }
  #es-rc #es-rc-content .es-routine__button-d--2 {
    display: block;
    position: absolute;
    bottom: 6%;
    right: 5%;
  }
  #es-rc #es-rc-content .es-routine__button-d--2:hover {
    scale: 1.05;
  }
  #es-rc #es-rc-content .es-faq__title {
    margin-top: 50px;
  }
  #es-rc #es-rc-content .swiper-pagination {
    display: none;
  }
}
@media screen and (min-width: 1333px) {
  #es-rc #es-rc-content .es-compare__mobile-wrapper {
    max-width: none;
    justify-content: space-around;
  }
  #es-rc #es-rc-content .es-compare__single {
    min-width: 270px;
  }
  #es-rc #es-rc-content .es-compare__single-subtitle {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-compare__effect-subtitle {
    min-height: 100px;
  }
  #es-rc #es-rc-content .es-compare__title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #es-rc #es-rc-content .es-formula {
    background: url(/rich-content/Vichy/krem-16/assets/img/formula-image.png) calc(50% + 75px) center no-repeat;
    min-height: 490px;
  }
  #es-rc #es-rc-content .es-formula__title {
    font-size: 28px;
    padding-right: 50px;
  }
  #es-rc #es-rc-content .es-routine__step {
    position: absolute;
    right: 4%;
  }
  #es-rc #es-rc-content .es-header__img-logo {
    max-width: 165px;
    padding-top: 16px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 1353px) {
  #es-rc #es-rc-content .es-compare__mobile-wrapper {
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-routine__step {
    position: absolute;
    right: 4%;
  }
}
